# Ersetze deine-domain.de mit deiner echten Domain
stineultras.moritzliedtke.com {
    reverse_proxy app:3000
    
    encode gzip
    
    log {
        output file /var/log/caddy/access.log
    }
}
